/* mobile first */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

*{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 7vh;

    position: relative;
    top: 0px;
    left: 0px;
}

#container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    padding: 25px;
    width: 85%;
}

header{
    width: 100%;
    height: 40vh;

    position: relative;
}

#equi{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#cyan{
    background-color: hsla(178, 100%, 50%, 0.357);
    border-radius: 10px;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

#view{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

#equi2{
    border-radius: 10px;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
}

#equi2:hover{
    display: none;
}

main{
    position: relative;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}

h1:hover{
    color: hsl(178, 100%, 50%);
}

p{
    color: hsl(215, 51%, 70%);
}

#ether{
    margin-right: 5px;
}

#eth{
    color:hsl(178, 100%, 50%);
    display: inline;

    position: absolute;
    bottom: 0;
}

#clock{
    position: absolute;

    right: 90px;
}

#three{
    display: inline;

    position: absolute;
    bottom: 0;
    right: 0;
}

hr{
    background-color: hsl(215, 32%, 27%);
    border-style: solid;
    border-width: 0;
    height: 1px;

    margin-top: 15px;
    margin-bottom: 15px;
}

footer{
    /* background-color: blue; */
    overflow: hidden;

    position: relative;
}

#avatar{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    float: left;
    height: 13%;
    width: 10%;
}

#creat{
    font-size: 15px;

    position: absolute;
    left: 15%;

    transform: translateY(-50%);
}

#jules{
    color: hsl(0, 0%, 100%)
}

#jules:hover{
    color: hsl(178, 100%, 50%);
}

.attribution {
    font-size: 11px;
    text-align: center; 
    margin: 0;
    padding: 0;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 425px){ /*mobile*/
    #container{
        width: 60vw;
    } 

    #creat{
        font-size: 18px;
    }
}

@media screen and (min-width: 525px){ /*mobile*/
    #container{
        width: 50vw;
    }
}

@media screen and (min-width: 625px){
    #container{
        width: 40vw;
    }
}

@media screen and (min-width: 825px){
    #container{
        width: 30vw;
    }
}

@media screen and (min-width: 1025px){
    #container{
        width: 25vw;
    }
}

@media screen and (min-height: 900px){
    header{
        height: 30vh;
    }
}

@media screen and (min-width: 1440px){ /*desktop*/
    /* body{
        padding: 0;
    } */

    #container{
        width: 20vw;
    }

    header{
        height: 30vh;
    }

    .attribution{
        margin-top: 15px;
        position: absolute;
        left: 50%;

        transform: translateX(-50%);
    }
    
}