/* mobile first */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

*{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    margin: 0;
    padding: 5vw;
    padding-top: 7vh;
}

#container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    padding: 25px;
    width: 85%;
}

#cyan{
    background-color: hsla(178, 100%, 50%, 0.364);
    border-radius: 10px;
    height: 42vh;
    width: 100%;
}

#view{
    position: relative;
    left: 42%;
    top: 42%;
}

#equi{
    border-radius: 10px;
    height: 42vh;
    width: 100%;
}

#equi2{
    border-radius: 10px;
    height: 42vh;
    width: 100%;
}

#equi2:hover{
    display: none;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}

h1:hover{
    color: hsl(178, 100%, 50%);
}

main{
    /* background-color: red;
    overflow: hidden; */
}

p{
    color: hsl(215, 51%, 70%);
    /* font-size: 0.9rem; */
}

#ether{
    margin-right: 5px;
}

#eth{
    color:hsl(178, 100%, 50%);
    display: inline;
}

#clock{
    margin-left: 19vw;
}

#three{
    display: inline;
    margin-left: 5px;
}

hr{
    background-color: hsl(215, 32%, 27%);
    border-style: solid;
    border-width: 0;
    height: 1px;

    margin-top: 15px;
    margin-bottom: 15px;
}

#avatar{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    height: 10%;
    width: 13%;
}

#creat{
    float: left;
}

#jules{
    color: hsl(0, 0%, 100%)
}

#jules:hover{
    color: hsl(178, 100%, 50%);
}

.attribution {
    font-size: 11px;
    text-align: center; 
    margin: 0;
    padding: 0;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}
