/* mobile */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

*{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    margin: 0;
    padding: 5vw;
    padding-top: 5vh;
}

#container{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    padding: 25px;
}

#cyan{
    background-color: hsla(178, 100%, 50%, 0.364);
    border-radius: 5px;
    height: 35vh;
    width: 100%;
}

#view{
    position: relative;
    left: 40%;
    top: 40%;
}

#equi{
    /* border: 40px solid black; */
    border-radius: 5px;
    height: 35vh;
    width: 100%;
}

#equi:hover{
    position: relative;
    left: 120px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
}

h1:hover{
    color: hsl(178, 100%, 50%);
}

p{
    color: hsl(215, 51%, 70%);
    font-size: 1rem;
}

#ether{
    float: left;
    margin-right: 5px;
}

#eth{
    color: hsl(178, 100%, 50%);
    display: inline;
    padding-bottom: 20px;
}

#clock{
    margin-left: 31%;
    margin-right: 5px;
}

#three{
    display: inline;
    padding-bottom: 15px;
}

hr{
    border: 1px solid hsl(215, 32%, 27%);
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#avatar{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    height: 10%;
    width: 13%;
}

#creat{
    padding-top: 15px;
}

#jules{
    color: hsl(0, 0%, 100%)
}

#jules:hover{
    color: hsl(178, 100%, 50%);
}

.attribution {
    font-size: 11px; text-align: center; 
    margin: 0;
    padding: 0;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}